<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Essays</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
  <link rel="stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
body {
    font-family: 'Chilanka';font-size: 22px;
    }
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="https://reikamoon.github.io/Final_Portfolio/">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://reikamoon.github.io/Final_Portfolio/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="templates/essays.html">Assignments</a>
        </li>
      </ul>
    </div>
  </nav>
  <center>
  <br><br>
  <h1>Assignments for Latin American Literature</h1>
  </center>
  <br><br>
  <table>
    <tr class="table-primary">
        <th scope="row">Assignment</th>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
    <tr class="table-primary">
        <th scope="row">Literary <br>Analysis 1</th>
      <td>The Third Bank of the River</td>
      <td>A literary analysis of "The Third Bank of the River" <br>by Guimaraes Rosa.
      <br>Written: 28 February 2020<br></td>
      <td><a href = "https://docs.google.com/document/d/1cSHiJnlRG4_utyWl9KY4Njy3n2paDNX2J1GvYeSd7hk/edit">The Third Bank of the River</a></td>
    </tr>
    <tr class="table-primary">
        <th scope="row">Literary <br>Analysis 2</th>
      <td>The Handsomest Drowned Man in the World</td>
      <td>A literary analysis of "The Handsomest Drowned Man in the World" <br>by Gabriel Garcia Marquez.
      <br>Written: 7 April 2020<br></td>
      <td><a href = "https://docs.google.com/document/d/1TNkYrMo4mF5Tmqfp0Rs78fCOeKkwfY7oSWTeU4o2hy4/edit">The Handsomest Drowned Man in the World</a></td>
    </tr>
    <tr class="table-primary">
        <th scope="row">Memoir</th>
      <td>Crystal Blue Waters, Skies, and Farewells</td>
      <td>A memoir about a summer vacation. <br>
      Written: 20 March 2020<br></td>
      <td><a href = "https://docs.google.com/document/d/15kobj-HgmWK9K4qzm6Axkj4Qe9WNQfAxlWE3004UOHo/edit">Crystal Blue Waters, Skies, and Farewells</a></td>
    </tr>
    <tr class="table-primary">
        <th scope="row">Digital Mural</th>
      <td>La Mujer Pecadora <br>(The Sinner Woman)</td>
      <td>A mural drawn with GIMP.<br>BG by Anders Ipsen, Rose Petals by PikPNG<br>
      Created: 9 April 2020</td>
      <td><a href = "https://drive.google.com/drive/u/0/folders/1o3ERvgd-Tnf13X8ZgVFvjGbQKRXU-bLd">Digital Mural</a></td>
    </tr>
    <tr class="table-primary">
        <th scope="row">Statement of Equity</th>
      <td>Statement of Equity</td>
      <td>My statement of Equity<br>
      Created: 5 May 2020</td>
      <td><a href = "https://docs.google.com/document/d/16c-uURehm6-7xral7oiFQE2oODTYlEvbPIyYtl65w_E/edit">Statement of Equity</a></td>
    </tr>
  </table>

</body>
</html>
